
FirstCVTest/.vs/FirstCVTest/v15/.suo
FirstCVTest/.vs/FirstCVTest/v15/Browse.VC.db
FirstCVTest/.vs/FirstCVTest/v15/ipch/ce20ca70feceb6ed.ipch
FirstCVTest/.vs/FirstCVTest/v15/Browse.VC.opendb
WebcamBlobDetection/.vs/WebcamBlobDetection/v15/.suo
WebcamBlobDetection/.vs/WebcamBlobDetection/v15/ipch/4910fe9cfca6fbbd.ipch
WebcamBlobDetection/WebcamBlobDetection/x64/Debug/WebcamBlobDetection.log
WebcamTest/WebcamTest/.vs/WebcamTest/v15/Browse.VC.db
WebcamTest/WebcamTest/.vs/WebcamTest/v15/ipch/709dd4a5b7261f1f.ipch
WebcamTest/WebcamTest/.vs/WebcamTest/v15/ipch/72af6c484b64e94a.ipch
WebcamTest/WebcamTest/opencv_world341d.dll
WebcamTest/WebcamTest/opencv_world341d.lib
WebcamTest/WebcamTest/WebcamTest/opencv_world341d.dll
WebcamTest/WebcamTest/WebcamTest/opencv_world341d.lib
